# Compiled Java files
*.class

# IDE
.idea/
*.iml
out/
out_bin/
DonationDriverUI/out/
DonationDriverUI/out_bin/
DonationDriverUI/out_plan_compile/

# OS
.DS_Store
Thumbs.db

# Build directories
build/
dist/

